<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Freedom!!</h1>
    {{{body}}}
    <p>Hands off dickwod!</p>
  </body>
</html>
